 /* Container needed to position the button. Adjust the width as needed */
.img_block{
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.img_block img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.img_block .btn {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.4;
  display: none;
  background-color: black;
}

.img_block .btn:hover {
  opacity: 0.9;
  background-color: #555;
}

.filter_block{
    padding-bottom: 10px;
}